:root {
  --bg-color-body: #d4d4d4;
  --bg-color-headfoot: #be6262;
  --color-headfoot: #fadddd;
}

body {
  background-color: var(--bg-color-body);
}

footer, header {
  background-color: var(--bg-color-headfoot);
  color: var(--color-headfoot);
  padding: 0 1.5vw;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}